h1 {
  text-align: center;
  color: #333;
}

body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
#main {
  padding: 20px;
}
/* this for my first paragraph */
.opinion {
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
}
.opinion {
  width: 50%;
  max-width: 800px;
  background-color: #fff;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.opinion h2 {
  color: #333;
}
nav#links {
  text-align: center;
  margin-bottom: 20px;
}
nav#links a {
  margin: 0 15px;
  text-decoration: none;
  text-align: center;
  color: #007bff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
nav#links a:hover {
  text-decoration: underline;
}

#coding {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
.opinion2 {
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
}
.opinion2 {
  width: 50%;
  max-width: 800px;
  background-color: #fff;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
