h1 {
  text-align: center;
  color: whitesmoke;
}
.aside-menu{ border: 2px solid #3498db; 
  padding: 20px; 
  background-color: blueviolet; 
  margin-bottom: 20px; 
  width: 200px; }
  aside {
    border: 2px solid #3498db; 
    padding: 20px; 
    background-color: #f2f2f2; 
    margin-bottom: 20px; 
    width: 200px; 
}
aside h4 {
    color: #e74c3c; 
    margin-top: 0;
}
aside ul {
    list-style-type: none; 
    padding: 0;
}

aside li {
    margin-bottom: 15px; 
}

aside a {
    text-decoration: none;
    color: #3498db;
}

aside a:hover {
    text-decoration: underline;
}
body {
background-image:url(media/pexels-felixmittermeier-956999.jpg);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
#main {
  padding: 20px;
}
/* this for my first paragraph */
.opinion {
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
}
.opinion {
  width: 50%;
  max-width: 800px;
  background-color: #fff;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.opinion h2 {
  color: #333;
}
nav#links {
  text-align: center;
  margin-bottom: 20px;
}
nav#links a {
  margin: 0 15px;
  text-decoration: none;
  text-align: center;
  color: #007bff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
nav#links a:hover {
  text-decoration: underline;
}

#coding {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
.opinion2 {
  text-align: center;
  margin-top: 60px;
  font-size: 30px;
}
.opinion2 {
  width: 50%;
  max-width: 800px;
  background-color: #fff;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.heading-list{color: #fff;}
 .list{color:#fff}